/* sub1.css */
@import url(common.css);

@media screen and (max-width:499px) {

/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 280px; height: 156px; 
    background: url(../images/desktop.png) no-repeat 0 0; background-size: 100%;}
.mockup_content>p{position: absolute; top: 3px; left: 2px; width: 272px; height: 147px; 
    border-radius: 9px; overflow: hidden; border: 2px solid #ddd;}
.mockup{width: 272px; position: absolute; top: 0; left: 0;
    animation: move 6s linear 1s infinite alternate;}

@keyframes move {
    0%{top: 0px;}
    100%{top: -640px;}
}

}

@media screen and (min-width:500px) and (max-width:869px) {

/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 400px; height: 224px; 
    background: url(../images/desktop.png) no-repeat 0 0; background-size: 100%;}
.mockup_content>p{position: absolute; top: 6px; left: 6px; width: 387px; height: 210px; 
    border-radius: 9px; overflow: hidden; border: 1px solid #ddd;}
.mockup{width: 387px; position: absolute; top: 0; left: 0;
    animation: move 8s linear 1s infinite alternate;}

@keyframes move {
    0%{top: 0px;}
    100%{top: -900px;}
}

}

@media screen and (min-width:870px) and (max-width:1140px) {
    
/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 704px; height: 384px; 
    background: url(../images/desktop.png) no-repeat 50% 50%; background-size: 98%;}
.mockup_content>p{position: absolute; top: 10px; left: 16px; width: 669px; height: 362px; 
    border-radius: 15px; overflow: hidden; border: 1px solid #ddd; }
.mockup{width: 669px; position: absolute; top: 0; left: 0;
    animation: move 10s linear 1s infinite alternate;}

@keyframes move {
    0%{top: 0px;}
    100%{top: -1600px;}
}
}

@media screen and (min-width:1141px) {

/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 954px; height: 532px; 
    background: url(../images/desktop.png) no-repeat 0 0;}
.mockup_content>p{position: absolute; top: 13px; left: 13px; width: 926px; height: 504px; 
    border-radius: 25px; overflow: hidden; border: 1px solid #ddd;}
.mockup{width: 926px; position: absolute; top: 0; left: 0;
    animation: move 10s linear 1s infinite alternate;}

@keyframes move {
    0%{top: 0px;}
    100%{top: -2200px;}
}

}
