/* sub5.css */
@import url(common.css);

@media screen and (max-width:499px) {

/* mockup */
.mockup_image{width: 280px; height: 180px; margin: 0 auto; position: relative; box-sizing: border-box;}
.mockup_content{z-index: -2; position: relative; margin: 0 auto; width: 240px; height: 159px; 
    background: url(../images/multiple_pc.png) no-repeat 0 0; background-size: 100%;}
.mockup_content>p{position: absolute; top: 4px; left: 5px; width: 229px; height: 149px; 
    border-radius: 8px; overflow: hidden; border: 1px solid #ddd;}
.mockup_pc{width: 229px; position: absolute; top: 0; left: 0;
    animation: move 3s linear 1s infinite alternate;}
@keyframes move {
    0%{top: 0px;}
    100%{top: -260px;}
}
.mockup_content2{z-index: -1; position: absolute; left: 0; top: 60px; margin: 0; width: 164px; height: 114px;
    background: url(../images/multiple_tab.png) no-repeat 0 0; background-size: 100%; }
.mockup_content2>p{position: absolute; top: 4px; left: 4px; width: 154.5px; height: 103.5px; 
    border-radius: 5px; overflow: hidden; border: 1px solid #ddd;}
.mockup_tab{width: 154.5px; position: absolute; top: 0; left: 0;
    animation: move2 3s linear 1s infinite alternate;}
@keyframes move2 {
    0%{top: 0px;}
    100%{top: -300px;}
}
.mockup_content3{z-index: 1; position: absolute; right: 0; top: 52px; margin: 0; width: 70px; height: 404px;
    background: url(../images/multiple_mo.png) no-repeat 0 0; background-size: 100%;}
.mockup_content3>p{position: absolute; top: 3px; left: 4px; width: 61px; height: 120px; 
    border-radius: 6px; overflow: hidden; border: 1px solid #ddd;}
.mockup_mo{width: 61px; position: absolute; top: 0; left: 0;
    animation: move3 3s linear 1s infinite alternate;}
@keyframes move3 {
    0%{top: 0px;}
    100%{top: -100px;}
}

/* circle */
@keyframes grow {
    0% {transform: scale( 0 ); background: #FF3838;} 
    100% {transform: scale( 1 );}
}
}

@media screen and (min-width:500px) and (max-width:869px) {

/* mockup */
.mockup_image{width: 400px; height: 264px; margin: 0 auto; position: relative; box-sizing: border-box;}
.mockup_content{z-index: -2; position: relative; margin: 0 auto; width: 340px; height: 230px; 
    background: url(../images/multiple_pc.png) no-repeat 0 0; background-size: 100%;}
.mockup_content>p{position: absolute; top: 7px; left: 8px; width: 323px; height: 211px; 
    border-radius: 8px; overflow: hidden; border: 1px solid #ddd;}
.mockup_pc{width: 323px; position: absolute; top: 0; left: 0;
    animation: move 3s linear 1s infinite alternate;}
@keyframes move {
    0%{top: 0px;}
    100%{top: -390px;}
}
.mockup_content2{z-index: -1; position: absolute; left: 0; top: 90px; margin: 0; width: 230px; height: 433px;
    background: url(../images/multiple_tab.png) no-repeat 0 0; background-size: 100%; }
.mockup_content2>p{position: absolute; top: 6px; left: 6px; width: 217px; height: 146px; 
    border-radius: 8px; overflow: hidden; border: 1px solid #ddd;}
.mockup_tab{width: 217px; position: absolute; top: 0; left: 0;
    animation: move2 3s linear 1s infinite alternate;}
@keyframes move2 {
    0%{top: 0px;}
    100%{top: -440px;}
}
.mockup_content3{z-index: 1; position: absolute; right: 0; top: 60px; margin: 0; width: 110px; height: 404px;
    background: url(../images/multiple_mo.png) no-repeat 0 0; background-size: 100%;}
.mockup_content3>p{position: absolute; top: 5px; left: 6px; width: 98px; height: 189px; 
    border-radius: 8px; overflow: hidden; border: 1px solid #ddd;}
.mockup_mo{width: 98px; position: absolute; top: 0; left: 0;
    animation: move3 3s linear 1s infinite alternate;}
@keyframes move3 {
    0%{top: 0px;}
    100%{top: -180px;}
}

/* circle */
@keyframes grow {
    0% {transform: scale( 0 ); background: #FF3838;} 
    100% {transform: scale( 1 );}
}
}

@media screen and (min-width:870px) and (max-width:1140px) {

/* mockup */
.mockup_image{width: 704px; height: 478px; margin: 0 auto; position: relative;}
.mockup_content{z-index: -2; position: relative; margin: 0 auto; width: 620px; height: 533px; 
    background: url(../images/multiple_pc.png) no-repeat 0 0; background-size: 100%;}
.mockup_content>p{position: absolute; top: 14px; left: 14px; width: 592px; height: 382px; 
    border-radius: 13px; overflow: hidden; border: 1px solid #ddd;}
.mockup_pc{width: 592px; position: absolute; top: 0; left: 0;
    animation: move 5s linear 1s infinite alternate;}
@keyframes move {
    0%{top: 0px;}
    100%{top: -720px;}
}
.mockup_content2{z-index: -1; position: absolute; left: 0; top: 170px; margin: 0; width: 403px; height: 433px;
    background: url(../images/multiple_tab.png) no-repeat 0 0; background-size: 100%;}
.mockup_content2>p{position: absolute; top: 10px; left: 9px; width: 382px; height: 260px; 
    border-radius: 18px; overflow: hidden; border: 1px solid #ddd;}
.mockup_tab{width: 382px; position: absolute; top: 0; left: 0;
    animation: move2 5s linear 1s infinite alternate;}
@keyframes move2 {
    0%{top: 0px;}
    100%{top: -740px;}
}
.mockup_content3{z-index: 1; position: absolute; right: 0; bottom: 0; margin: 0; width: 220px; height: 404px;
    background: url(../images/multiple_mo.png) no-repeat 0 0; background-size: 100%;}
.mockup_content3>p{position: absolute; top: 10px; left: 11px; width: 196px; height: 382px; 
    border-radius: 18px; overflow: hidden; border: 1px solid #ddd;}
.mockup_mo{width: 196px; position: absolute; top: 0; left: 0;
    animation: move3 5s linear 1s infinite alternate;}
@keyframes move3 {
    0%{top: 0px;}
    100%{top: -340px;}
}

/* circle */
@keyframes grow {
    0% {transform: scale( 0 ); background: #FF3838;} 
    100% {transform: scale( 1 );}
}
}

@media screen and (min-width:1141px) {

/* mockup */
.mockup_image{width: 954px; height: 588px; margin: 0 auto; position: relative;}
.mockup_content{z-index: -2; position: relative; margin: 0 auto; width: 803px; height: 533px; 
    background: url(../images/multiple_pc.png) no-repeat 0 0;}
.mockup_content>p{position: absolute; top: 15px; left: 17px; width: 768px; height: 500px; 
    border-radius: 24px; overflow: hidden; border: 1px solid #ddd;}
.mockup_pc{width: 803px; position: absolute; top: 0; left: 0;
    animation: move 10s linear 1s infinite alternate;}
@keyframes move {
    0%{top: 0px;}
    100%{top: -930px;}
}
.mockup_content2{z-index: -1; position: absolute; left: 0; top: 236px; margin: 0; width: 803px; height: 533px;
    background: url(../images/multiple_tab.png) no-repeat 0 0;}
.mockup_content2>p{position: absolute; top: 12px; left: 11px; width: 453px; height: 307px; 
    border-radius: 19px; overflow: hidden; border: 1px solid #ddd;}
.mockup_tab{width: 453px; position: absolute; top: 0; left: 0;
    animation: move2 4s linear 1s infinite alternate;}
@keyframes move2 {
    0%{top: 0px;}
    100%{top: -900px;}
}
.mockup_content3{z-index: 1; position: absolute; right: 0; bottom: 0; margin: 0; width: 230px; height: 421px;
    background: url(../images/multiple_mo.png) no-repeat 0 0;}
.mockup_content3>p{position: absolute; top: 11px; left: 11px; width: 206px; height: 397px; 
    border-radius: 20px; overflow: hidden; border: 1px solid #ddd;}
.mockup_mo{width: 206px; position: absolute; top: 0; left: 0;
    animation: move3 4s linear 1s infinite alternate;}
@keyframes move3 {
    0%{top: 0px;}
    100%{top: -360px;}
}

/* circle */
@keyframes grow {
    0% {transform: scale( 0 ); background: #FF3838;} 
    100% {transform: scale( 1 );}
}
}