/* sub5.css */
@import url(common.css);

/* circle */
@keyframes grow {
    0% {transform: scale( 0 ); background: #A12828;} 
    100% {transform: scale( 1 );}
}

@media screen and (max-width:499px) {

/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 280px; height: 156px; 
    background: url(../images/desktop.png) no-repeat 0 0; background-size: 100%;}
.mockup_content>p{position: absolute; top: 3px; left: 4px; width: 269px; height: 143px; 
    border-radius: 9px; overflow: hidden; border: 2px solid #ddd;}
video{width: 270px; position: absolute; top: -24px; left: 0;}
}

@media screen and (min-width:500px) and (max-width:869px) {

/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 400px; height: 220px; 
    background: url(../images/desktop.png) no-repeat 0 0; background-size: 100%;}
.mockup_content>p{position: absolute; top: 6px; left: 7px; width: 385px; height: 206px; 
    border-radius: 10px; overflow: hidden; border: 1px solid #ddd;}
video{width: 387px; position: absolute; top: -37px; left: 0;}
}

@media screen and (min-width:870px) and (max-width:1140px) {
    
/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 704px; height: 388px; 
    background: url(../images/desktop.png) no-repeat 50% 50%; background-size: 98%;}
.mockup_content>p{position: absolute; top: 14px; left: 17px; width: 667px; height: 357px; 
    border-radius: 18px; overflow: hidden; border: 1px solid #ddd; }
video{width: 670px; position: absolute; top: -62px; left: 0;}
}

@media screen and (min-width:1141px) {

/* mockup */
.mockup_content{z-index: 50; position: relative; margin: 0 auto; width: 954px; height: 524px; 
    background: url(../images/desktop.png) no-repeat 0 0;}
.mockup_content>p{position: absolute; top: 13px; left: 13px; width: 924px; height: 496px; 
    border-radius: 25px; overflow: hidden; border: 1px solid #ddd;}
video{width: 924px; position: absolute; top: -86px; left: 0;}

@keyframes move {
    0%{top: 0px;}
    100%{top: -2200px;}
}

}